@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-color-primary-50: var(--color-purple-50);
  --ui-color-primary-100: var(--color-purple-100);
  --ui-color-primary-200: var(--color-purple-200);
  --ui-color-primary-300: var(--color-purple-300);
  --ui-color-primary-400: var(--color-purple-400);
  --ui-color-primary-500: var(--color-purple-500);
  --ui-color-primary-600: var(--color-purple-600);
  --ui-color-primary-700: var(--color-purple-700);
  --ui-color-primary-800: var(--color-purple-800);
  --ui-color-primary-900: var(--color-purple-900);
  --ui-color-primary-950: var(--color-purple-950);
}
